<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://hirokaieda.netlify.com/">Toyohiro</a>. He is a developer who is sharpening his skills in coding to turn his ideas into reality.
  </p>
  <br />
  <p>
    He is working a full time job at Southern Methodist University in Dallas, TX while he learns about coding.
  </p>
  <p>
    If you want to learn how to code - start <a target='_blank' href="https:online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'hiro.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Toyohiro Kaieda</h2>
      <br />
      <p>
        Toyohiro Kaieda is a web developing student. He currently works with Southern Methodist University's Football program as an Assistant Equipment Manager and also helps with Men's Soccer, Women's Track & Field and Equestrian teams.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
