@font-face {
    font-family: 'expletus_sansbold';
    src: font-url('expletussans-bold-webfont.woff2') format('woff2'),
         font-url('expletussans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sansbold_italic';
    src: font-url('expletussans-bolditalic-webfont.woff2') format('woff2'),
         font-url('expletussans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sansitalic';
    src: font-url('expletussans-italic-webfont.woff2') format('woff2'),
         font-url('expletussans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sansmedium';
    src: font-url('expletussans-medium-webfont.woff2') format('woff2'),
         font-url('expletussans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sansmedium_italic';
    src: font-url('expletussans-mediumitalic-webfont.woff2') format('woff2'),
         font-url('expletussans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sansregular';
    src: font-url('expletussans-regular-webfont.woff2') format('woff2'),
         font-url('expletussans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sanssemibold';
    src: font-url('expletussans-semibold-webfont.woff2') format('woff2'),
         font-url('expletussans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'expletus_sanssemibold_italic';
    src: font-url('expletussans-semibolditalic-webfont.woff2') format('woff2'),
         font-url('expletussans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}